@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

img {
    max-width: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    background-color: var(--dark-blue);
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    font-size: 28px;
    line-height: 1.5;
}

.container {
    background-color: var(--dark-grayish-blue);
    padding: 2.5rem 2rem 4rem;
    border-radius: 1rem;
    position: relative;
    max-width: 540px;
    width: 100%;
}

.container h1 {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.container p {
    margin-bottom: 2rem;
    color: var(--light-cyan);
    font-weight: 800;
}

.container picture {
    display: block;
    margin: 2rem 0 0 0;
}

.container picture img {
    width: 100%;
    height: auto;
}

.container button {
    background-color: var(--neon-green);
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container button img {
    width: 24px;
    height: 24px;
}

.container button:hover {
    box-shadow: 0 0 40px var(--neon-green);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5rem;
    color: var(--light-cyan);
}

.attribution a {
    color: hsl(228, 65%, 64%);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--neon-green);
}

@media (min-width: 500px) {
    .container {
        max-width: 540px;
    }
    
    p {
        font-size: 28px;
    }
}
